@font-face {
  font-family: gotham-book;
  src: url(./static/GothamBook.ttf);
}

@font-face {
  font-family: gotham-bold;
  src: url(./static/GothamBold.ttf);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "gotham-book", sans-serif;
}